/* General Styles */
body {
    font-family: sans-serif;
    background-image: url("images.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 0;
}


.container {
    background-color: rgb(36, 79, 173); 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(13, 3, 3, 0.1);
    max-width: 400px; 
    margin: auto; 
}

form {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

label {
    margin-bottom: 5px;
    color: #080101; 
}


input[type="text"], 
input[type="password"],
input[type="email"]  {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    margin-bottom: 15px; 
    font-size: 16px; 
}


button {
    background-color: #16ad2f; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #00b306; 
}


input[type="checkbox"] {
    margin-right: 5px; 
}
p {
    text-align: center; 
    color: #100505; 
}
a {
    color: #16ad2f; 
    text-decoration: none;
    align-self: center; 
}
a:hover {
    text-decoration: underline; 
}